<footer id="footer" data-th-fragment="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Institut Polytechnique Prive de casablanca<span>.</span></h4>
            <p>
              Rue 10, Num 2 , Lotissement Allaimoun 1 route d'Eljadida 
              Casablanca Maroc 20190,
              <br><br>
              <strong>Phone:</strong> +212 696 748 749<br>
              <strong>Email:</strong> info@polytechnique.ma<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Navigation</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dossier d'admission</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Dossier d'inscription</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mon compte</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos departements</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Engineering School</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business School</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Retrouvez nous sur :</h4>
            
            <div class="social-links mt-3">
              <a href="https://twitter.com/polycasa" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/pages/category/School/Institut-polytechnique-priv%C3%A9-de-Casablanca-%C3%A0-Abidjan-102601588104147/" class="facebook"><i class="bx bxl-facebook"></i></a>
            
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Institut Polytechnique Prive de casablanca</span></strong>. All Rights Reserved
      </div>
     <!--  <div class="credits">
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div> -->
    </div>
  </footer>