<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout2}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
  .btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 50px;
  margin-left:  80px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
}

#main
{
  margin-top: 130px;
}

</style>
</head>

<body>

  <!-- ======= Top Bar ======= -->
 

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main" data-layout-fragment="content">
	
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
      <h1>La liste des candidats</h1>
      <br>
			<table class="table table-bordered table-hover">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Nom</th>
				      <th scope="col">Prénom</th>
				      <th scope="col">Email</th>
				      <th scope="col">Admissions</th>
				       <th scope="col">Inscriptions</th>
				      
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="candi,ind : ${candidats}">
				      <th th:text="${candi.iduser}">1</th>
				      <td  th:text="${candi.nom}">Mark</td>
				      <td  th:text="${candi.prenom}">Otto</td>
				      <td  th:text="*{users[__${ind.index}__].email}">@mdo</td>
				      <td>
				      <a  th:href="@{'/consulterAdmi/' + ${candi.iduser}}">Consulter</a>
				      </td>
				      <td>
				      <a  th:href="@{'/consulterInsc/' + ${candi.iduser}}">Consulter</a>
				      </td>
				    </tr>
				  </tbody>
		   </table>

      </div>
    </section><!-- End Featured Services Section -->

     </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- End Footer -->

  
</body>

</html>