<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Template Main CSS File -->
  <link href="assets/css/style2.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
<style type="text/css">

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 50px;
  margin-left:  80px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 20px;
}

#dem2
{
	margin-top: 30px;
	margin-left: 50px;
	height: 600x;
}

#up_cont
{
	display: flex;
	
}

#conteneur
{
    display: flex;
    
    justify-content: space-between;
}

#dem1
{
		
		margin-top: 30px;
		margin-left: 300px;
		width: 3000px;
		height: 600x;
}

/*.tab{
    box-shadow:0 3px 10px rgba(0,0,0,.3);
}*/
.tab .nav-tabs{
    border-bottom:2px solid #106EEA;
}
.tab .nav-tabs li{
    margin-bottom:0px;
    margin-right:0px;
   
}

.tab .nav-tabs li:first-of-type{
    
    padding-left: 310px;
}

.tab .nav-tabs li:last-of-type{
    
    padding-left: 20px;
}

.tab .nav-tabs li a {
    font-size:14px;
    color:#808080;
    outline:none;
    margin-right:0px;
    padding:20px 25px;
    border-radius:0;
    text-transform:uppercase;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background:#106EEA;
    color:#fff;
}
.tab .tab-content{
    color:#5a5c5d;
    padding: 20px;
}
@media only screen and (max-width: 480px){
  
</style>



</head>

<body>

  <!-- ======= Top Bar ======= -->
  

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
 <!-- End Hero -->

  <main id="main" data-layout-fragment="content">
<!--    <h1 id="newd">Nouvelle demande d'admission</h1> -->
  
<div class="tab" role="tabpanel" id="dem2">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" id="1">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><strong> Etape 1: </strong> <br> Télécharger la fiche d'inscription</a>
  </li>
  
  <li class="nav-item" id="2">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><strong> Etape 1: </strong> <br>  Ajouter les documents suivants</a>
  </li>
  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!--   <button class="btn" ><i class="fa fa-download"></i> Fiche d'inscription</button> -->
  <a class="btn" href="assets/file/Présentation Institut Polytechnique Privé de Casablanca.pdf" download > <i class="fa fa-download"></i>  Fiche d'inscription</a>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
	  
	  <form action="#" th:action="@{/saveFile}"  method="post" enctype='multipart/form-data'>
	   <div th:if="${message}" class="alert alert-danger"
          					role="alert" th:text=${message}></div>
	  <div id="conteneur">
	 
		    <div class="element 1">
			
			<div class="custom-file ">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Fiche d'inscription</label>
			    
			  </div>
			  <p> </p>
<!-- 			  Some files will be required -->
			 <div class="custom-file ">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Frais d'inscription</label>
			  </div>	
			  <p> </p>
			 <div class="custom-file ">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Copie Passeport</label>
			    
			  </div>
			  <p> </p>
			</div>
		   <!--  <div class="element 2">
		    <div class="custom-file ">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Acte de naissance</label>
			    
			  </div>
			  <p> </p>
			 <div class="custom-file ">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Bulletin 1</label>
			  </div>	
			  <p> </p>
			 <div class="custom-file">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Bulletin 2</label>
			    
			  </div>
			 			  <p>  </p></div> -->
		    <!-- <div class="element 3"><div class="custom-file">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Bulletin 3</label>
			    
			  </div>
			  <p> </p>
			 <div class="custom-file">
			    <input name="files" type="file" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Bulletin 4</label>
			  </div>	
			  <p> </p>
			 <div class="custom-file">
			    <input type="file" name="files" class="custom-file-input" id="customFile">
			    <label class="custom-file-label" for="customFile">Bulletin 5 </label>
			    
			  </div>
			  <p> </p>
			 </div> -->
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Ajouter</button>
	  
	  </form>
	  
	</div>
</div>
  
</div>

    
  </main>
  
  <!-- ======= Footer ======= -->
  <!-- End Footer -->
  
 

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>

</html>