<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout2}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
 

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}

#message
{
	margin-left: 100px;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
  

</style>
</head>

<body>

  <main id="main" data-layout-fragment="content">
	
    <!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1571398888/Group_1514_tjekh3_zkts1c.svg" alt="logo" width="150">
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img name="userImage"  id="thumbnail" src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Création du compte</h1>
<!--             <p class="font-italic text-muted mb-0">Afin de suivre tout le processus de votre admission et de vous inscrire facilement par la suite au sein de l'Institut</p> -->
            
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form th:object="${user}" method="POST" th:action="@{/registrationEmp}"  data-toggle="validator" enctype="multipart/form-data" class="register-form">
                <div class="row">
					<div th:if="${userExistant}" class="alert alert-danger"
          					role="alert" th:text=${userExistant}></div>
          			<div th:if="${inscrip}" class="alert alert-success"
          					role="alert" > <h4 th:text=${inscrip}></h4> </div>	
          			<div th:if="${valdate}" class="alert alert-success"
          					role="alert" > <h4 th:text=${valdate}></h4> </div>
                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" th:field="*{nom}" name="firstname" placeholder="Votre nom" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" th:field="*{prenom}" name="lastname" placeholder="Votre prénom" class="form-control bg-white border-left-0 border-md">
                    </div>
					
                    
                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" th:field="*{email}" type="email" name="email" placeholder="Votre adresse mail" class="form-control bg-white border-left-0 border-md">
                    </div>
					
					<div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <input  th:field="*{telephone}" id="phoneNumber" type="tel" name="phone" placeholder="Votre numero de téléphone" class="form-control bg-white border-left-0 border-md">
                    </div>
					
					<!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input  id="password" th:field="*{password}" type="password" name="pass" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input  type="password" id="confirm_password" name="re_pass" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    
                    </div>
						<span id='message'></span>
					
						
<!--                     Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select id="job" th:field="*{posteName}" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">
                            <option th:each="role: ${roles}" th:value="${role.roleName}" th:text="${role.roleName}">Choose your job</option>
                        </select>
                    </div>
					
					<div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
<!--                                 <i class="fa fa-paperclip text-muted" ></i> -->
									Votre photo
                            </span>
                        </div>
                        <input style="height: 65px"  type="file" name="userImage" placeholder="Password" id=userImage accept="image/png, image/jpeg" class="form-control bg-white border-left-0 border-md">
                    </div>
					
						
					
                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                       <!--  <a href="#" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Créez votre compte</span>
                        </a> -->
                        <input type="submit" name="signup" id="signup" class="btn btn-primary btn-block py-2" value="Créez votre compte"/>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OU</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Vous avez déjà un compte? <a th:href="@{/login}" class="text-primary ml-2">Connectez-vous</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


     </main>End #main


<script type="text/javascript">
     
     
  // For Demo Purpose [Changing input group text on focus]
     $(function () {
         $('input, select').on('focus', function () {
             $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
         });
         $('input, select').on('blur', function () {
             $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
         });
     });


     
</script>

</body>

</html>
