<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Template Main CSS File -->
  <link href="assets/css/style2.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
<style type="text/css"> 



/*.tab{
    box-shadow:0 3px 10px rgba(0,0,0,.3);
}*/
.tab .nav-tabs{
    border-bottom:2px solid #106EEA;
}
.tab .nav-tabs li{
    margin-bottom:0px;
    margin-right:0px;
   
}

.tab .nav-tabs li:first-of-type{
    
    padding-left: 310px;
}

.tab .nav-tabs li:last-of-type{
    
    padding-left: 20px;
}

.tab .nav-tabs li a {
    font-size:14px;
    color:#808080;
    outline:none;
    margin-right:0px;
    padding:20px 25px;
    border-radius:0;
    text-transform:uppercase;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{
    background:#106EEA;
    color:#fff;
}
.tab .tab-content{
    color:#5a5c5d;
    padding: 20px;
}
@media only screen and (max-width: 480px){
  
</style>



</head>

<body>

  <!-- ======= Top Bar ======= -->
  

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
 <!-- End Hero -->

  <main id="main" data-layout-fragment="content">
   <h1 id="newd" th:text="*{message}" >Nouvelle demande d'admission</h1>
 
 	<a th:href="${filesave}" target="_blank" th:text="${filesave}"></a>
 	<a th:href="${fileDownloadUri}" target="_blank" th:text="${fileDownloadUri}"></a>
    
  </main>
  
  <!-- ======= Footer ======= -->
  <!-- End Footer -->
  
 

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>

</html>